<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="_meta :: header">
    <title>故障知识库列表</title>
</head>
<body>
<div class="page-container">
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field">
                <legend>故障分类统计</legend>
                <div class="layui-field-box">

                </div>
                <hr style="margin: 0">
                <hr>
            </fieldset>
        </div>

    <script th:src="@{/font/js/echarts.min.js}"></script>
    <div id="main" style="width: 1000px;height:400px;"></div>




</div>
<!--_footer 作为公共模版分离出去-->
<div th:replace="_footer :: footerjs">
</div>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" th:src="@{/lib/My97DatePicker/4.8/WdatePicker.js}" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" th:src="@{/lib/datatables/1.10.0/jquery.dataTables.min.js}" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:src="@{/lib/laypage/1.2/laypage.js}" src="lib/laypage/1.2/laypage.js"></script>


<script>
    $(document).ready(function(){
        var myChart = echarts.init(document.getElementById('main'));
        $.ajax({
            type: 'POST',
            url: "/admin/statisticgetinfo" ,
            success: function(data){
                option = {
                    color: ['#3398DB'],
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'category',
                            data : data.status,
                            axisTick: {
                                alignWithLabel: true
                            }
                        }
                    ],
                    yAxis : [
                        {
                            type : 'value'
                        }
                    ],
                    series : [
                        {
                            name:'故障量',
                            type:'bar',
                            barWidth: '60%',
                            data:data.count
                        }
                    ]
                };
                myChart.setOption(option);
            },
            error: function(XmlHttpRequest, textStatus, errorThrown){
                layer.msg('请求失败!',{icon:5,time:1000});
            }
        });
    })

</script>
</body>
